<ul>
  <% @link.each do |link| %>
    <li><%= link_to link.title, link.url %></li>
    <%= link_to "comments", link %>
    
    <% if current_user && current_user.votes.where(:link_id => link.id, :up => true).present? %>
      *
    <% else %>
      <%= link_to "+", votes_path(:vote => {:link_id => link.id, :up => true}), :method => :post %>
    <% end %>



    <% if current_user && current_user.votes.where(:link_id => link.id, :up => false).present? %>
      *
    <% else %>  
    
      <%= link_to "-", votes_path(:vote => {:link_id => link.id, :up => false}), :method => :post %>
    <% end %>

    Votes: <%= link.votes.where(:up => true).count - link.votes.where(:up => false).count %>
  <% end %>

  <%= will_paginate @link %>
</ul>